<html>
  <head>
    <title>Practica Profesional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/index.css">
  </head>
  <body>
    <header>
      <div class="texto_sobre_img">

        <nav class="navbar">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
          </ul>
        </nav>

        <img src="../public/img/index_header.jpg" height="650px">

        <div class="texto_centrado">
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, eum!
          </h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>

    </header>

    <main>
      <div class="contenedor_fotos">
        <section class="titulo_seccion">
          <h2>Nuestras reparaciones</h2>
        </section>
        
        <div class="galeria_figure_figcaption">
          <article>
            <figure>
              <img src="../public/img/index_main_contenedor_fotos.jpg">
              <figcaption>
                <h4>Lorem, ipsum.</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores nostrum sit dolore sunt ipsum adipisci debitis ea quia molestiae.
                </p>
              </figcaption>
            </figure>
          </article>
          <article>
            <figure>
              <img src="../public/img/index_main_contenedor_fotos.jpg">
              <figcaption>
                <h4>Lorem, ipsum.</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores nostrum sit dolore sunt ipsum adipisci debitis ea quia molestiae.
                </p>
              </figcaption>
            </figure>
          </article>
          <article>
            <figure>
              <img src="../public/img/index_main_contenedor_fotos.jpg">
              <figcaption>
                <h4>Lorem, ipsum.</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores nostrum sit dolore sunt ipsum adipisci debitis ea quia molestiae.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>

      <div class="contenedor_consulta_reparacion">
        <aside>
          <img src="../public/img/index_main_contenedor_consulta_reparacion.jpg">
        </aside>

        <article>
          <h2>
            ¿Como está el estado de tu reparación?
          </h2>
          <p>
            Ingresa tu ... para consultar.
          </p>

          <button>botón</button>
        </article>
      </div>
      
      <div class="contenedor_info_contacto">
        <article>
          <h2>Fotos de las reparaciones</h2>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit.</p>
          <p>Lorem ipsum dolor sit.</p>
          <p>Lorem ipsum dolor sit.</p>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit.</p>
        </article>

        <aside>
          <img src="../public/img/index_contenedor_info_contacto.jpg" height="300" width="400">
        </aside>
      </div>
    </main>

    <footer>
      <div class="links">
        <a href="#">Términos y Condiciones de Uso</a> - 
        <a href="#">Privacidad y Seguridad</a>
      </div>

      <p>&copy; 2024 Nombre de la empresa (Ej: "aaaaaa") - Todos los derechos reservados.</p>
      <p>Contacto: aaa@gmail.com</p>
    </footer>
  </body>
</html>